{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <!-- Begin Article
        ================================================== -->
        <div class="container">
            <div class="row">
                <!-- Post Share -->
                <div class="col-md-2 pl-0">
                    {{- partial "single-partials/share.html" . -}}
                </div>
                <!-- Post -->
                <div class="col-md-9 flex-first flex-md-unordered">
                    <div class="mainheading">
                        <!-- Author Box -->
                        {{if isset .Site.Params.author "name"}}
                        {{if isset .Site.Params.author "thumbnail"}}
                        {{if isset .Site.Params.author "description"}}
                        <div class="row post-top-meta">
                            <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0 md-nopad-right">
                                <img class="author-thumb" src="{{ .Site.Params.author.thumbnail }}" alt="{{ .Site.Params.author.name }}">
                            </div>
                            <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left md-nopad-left">
                                <a class="link-dark" href="{{ "/about-me/" | relURL }}">{{ .Site.Params.author.name }}</a><br>
                                <span class="author-description">
                                    {{ .Site.Params.author.description }}<br>
                                    <i class="far fa-star"></i>
                                    {{ dateFormat "Jan 2, 2006" .PublishDate }}
                                    <i class="far fa-clock clock"></i>
                                    {{ .ReadingTime }} min read
                                </span>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                        {{end}}
                        <!-- Post Title -->
                        <h1 class="posttitle">{{ .Title }}</h1>
                    </div>

                    {{if isset .Params "cover_image"}}
                    <!-- Post Featured Image -->
                    <figure class="figure">
                        <img src="{{ .Params.cover_image  | urlize }}" class="featured-imagefigure-img img-fluid rounded" alt="thumbnail for this post">
                        {{if isset .Params "cover_caption"}}
                        <figcaption class="figure-caption text-center">{{ .Params.cover_caption }}</figcaption>
                        {{end}}
                    </figure>
                    <!-- End Featured Image -->
                    {{end}}

                    <!-- Post Content -->
                    <div class="article-post">
                        {{ .Content}}
                    </div>

                    <!-- Post Categories -->
                    <div class="after-post-tags">
                        <ul class="tags">
                        {{ range .Params.tags }}
                        <li>
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                        </li>
                        {{ end }}
                        </ul>
                    </div>
                    <!-- End Categories -->

                    <!-- Next and PrevPage inside current section -->
                    <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
                    {{with .NextInSection}}
                        <a class="d-block col-md-6" href="{{.Permalink}}"> &laquo; {{.Title}}</a>
                    {{end}}
                    {{with .PrevInSection}}
                        <a class="d-block col-md-6 text-lg-right" href="{{.Permalink}}">{{.Title}} &raquo;</a>
                    {{end}}
                    <div class="clearfix"></div>
                    </div>
                    <!-- End Next and PrevPage -->
                </div>
                <!-- End Post -->
            </div>
        </div>
        <!-- End Article
        ================================================== -->
        {{ if .Params.comments }}
            {{- partial "single-partials/comments.html" . -}}
        {{ end }}
    </div>
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
