{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
        <header class="text-center">
            {{ with .Site.Params.index.picture }}
                <img src="{{ . | safeHTML }}" class="rounded-circle text-center index-image">
            {{ end }}
            <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
        </header>

        <section class="text-center">
            {{ with .Site.Params.index.subtitle }}
            <h3 class="index-sub">{{ . }}</h3>
            {{ end }}
            <h6 class="index-text">{{ .Content  | safeHTML }}</h6>
        </section>
    </div>
    {{- partial "_shared/social.html" . -}}
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}